body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#app {
    width: 962px;
    height: 541px;
    position: relative;
}

#background img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #333;
}

select {
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
    display: block;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#btn-comenzar {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

#opciones, #continuar, #preguntas {
    position: absolute;
    width: 100%;
    top: 60%;
    display: flex;
    justify-content: space-around;
}
